<form class="form-horizontal">
<div class="form-group">
    <label class="control-label col-sm-4" for="Title">Title</label>
    <div class="col-sm-8"><input type="text" class="form-control" id="Title" /></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-4" for="Description">Description</label>
    <div class="col-sm-8"><input type="text" class="form-control" id="Description" /></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-4" for="Classification">Classification</label>
    <div class="col-sm-8"><input type="text" class="form-control" id="Classification" /></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-4" for="Duration">Duration</label>
    <div class="col-sm-8"><input type="text" class="form-control" id="Duration" /></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-4" for="Genres">Genres</label>
    <div class="col-sm-8"><input type="text" class="form-control" id="Genres" /></div>
</div>

<div class="row text-center">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-danger" (click)="dialogRef.close()">Cancel</button>
</div>
</form>